<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SecureCore.Properties.Settings.SecureCoreConnectionString"
      connectionString="Data Source=DESKTOP-2991IQ4\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CategoriesEntities" connectionString="metadata=res://*/CategoriesModel.csdl|res://*/CategoriesModel.ssdl|res://*/CategoriesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2991IQ4\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="OrderEntities" connectionString="metadata=res://*/OrderModel.csdl|res://*/OrderModel.ssdl|res://*/OrderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2991IQ4\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ftpServer" value="ftp://192.168.10.1" />
    <add key="user" value="g2" />
    <add key="passwd" value="12345aA" />
    <add key="nameDownload" value="/DadesClients.edi" />
    <add key="LocalDestinationPath" value="archivos\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>